.rb-footer {
  padding: $page-padding-x-mobile;
  position: relative;

  p {
    font-size: $font-size-s1;
    margin: 0;
  }

  [href="#top"] {
    display: none;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0;
    color: black;
    display: flex;
    line-height: 1;
    margin-left: auto;
    padding-bottom: 2px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;

    &:hover {
      border-color: black;
    }
  }

  span {
    display: block;
    margin-left: 8px;
    position: relative;
    top: 2px;
    width: 18px;

    svg {
      display: block;
      width: 100%;
    }
  }
}
