$gutter-size: 6rem;

.gallery {
  display: flex;
  margin-left: -$gutter-size; 
  width: auto;

  .gallery-col {
    padding-left: $gutter-size; 
    background-clip: padding-box;
  
    a {
      color: hsl(0, 0, 50%);
      display: block;
      font-size: .8275rem;
      margin-bottom: 3rem;
      text-decoration: none;
    
      &:hover {
        color: hsl(0, 0, 0%);
      }
    }
  }
}

 