$gutter-size: 2rem;

.gallery-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.gallery {
  &-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    transition: opacity .25s ease;

    &.animate-out {
      opacity: 0;
      pointer-events: none;
    }

    li {
      list-style-type: none;
      display: none;

      &.active {
        display: block;
      }
    }

    a {
      color: hsl(0, 0, 50%);
      display: block;
      font-size: 0.8275rem;
      height: 250px;
      margin-bottom: 3rem;
      text-decoration: none;

      &:hover {
        color: hsl(0, 0, 0%);

        figure {
          filter: brightness(100%);
        }

        figcaption {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: opacity 0.5s ease, transform 0.5s ease;
        }
      }

      figure {
        filter: brightness(92%);
        height: inherit;
        transition: filter 0.25s;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }

        figcaption {
          opacity: 0;
          transform: translate3d(0, -50%, 0);
          transition: opacity 0.5s ease, transform 0s ease 0.5s;
        }
      }
    }
  }
}
