// Sticky header
:root {
  --header-height: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  left: 0;
  right: 0;
}

header {
  background: hsl(0, 0, 0%);
  display: flex;
  justify-content: space-between;
  padding: var(--box-width) calc(var(--box-width) + 1rem) 0;

  .brand {
    color: var(--nav-link-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    line-height: 1;
    padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
  }
}
