.rb-header {
  align-items: center;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  position: relative;
  z-index: 3;

  @include respond-to("desktop") {
    padding: 0;
    position: fixed;
    left: 1rem;
    top: 3rem;
    z-index: 1000;
  }

  .brand {
    @include font-bold;
    color: black;
    letter-spacing: var(--letter-spacing);
    padding: 1rem $page-padding-x-mobile;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 3;

    .mobile-menu-open & {
      color: black;
    }
  }
}

body.index:not(.mobile-menu-open) {
  .rb-header {
    .brand {
      color: white;
    }

    .hamburger:before,
    .hamburger:after {
      background-color: white;
    }
  }
}
