.hero {
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  padding: 0;
  position: relative;

  @include respond-to("desktop") {
    margin-right: -2rem;
  }

  .image {
    height: inherit;
    position: relative;
    transform: translate3d(0, calc(var(--scroll-y) * 0.15px), 0);

    &:after {
      background-image: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0, 0, 0.5)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  .text {
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: center;
    padding: 0 $page-padding-x-mobile 3rem;
    position: absolute;
    width: 100%;

    > * {
      color: hsl(72, 10%, 90%);
      margin: 0;
    }

    p {
      max-width: 20ch;
    }

    a {
      margin-top: 1rem;
      text-decoration: none;

      &:after {
        content: '↓';
        font-size: .875em;
        margin-left: 1ch;
        vertical-align: top;
      }
    }
  }
}
