.hero {
  height: 400px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transform: translate3d(0, calc(var(--scroll-y) * 0.4px), 0);

  @include respond-to("desktop") {
    height: 75vh;
  }

  .image {
    height: inherit;
    position: relative;

    &:after {
      background-image: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0, 0, 0.5)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  .text {
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    justify-content: center;
    padding: $page-padding-x-mobile;
    position: absolute;
    width: 100%;

    @include respond-to(desktop) {
      padding: 2rem;
    }

    > * {
      color: hsl(72, 10%, 90%);
      margin: 0;
    }

    p {
      max-width: 20ch;

      @include respond-to(desktop) {
        font-size: $font-size-3;
        max-width: 35ch;
      }
    }

    a {
      margin-top: 1rem;
      text-decoration: none;

      &:after {
        content: "↓";
        font-size: 0.875em;
        margin-left: 1ch;
        vertical-align: top;
      }
    }
  }
}

.hero-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: calc(var(--scroll-y) / 900);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;

  @include respond-to(desktop) {
    display: none;
  }
}
