.hero {
  height: var(--hero-height);
  margin-right: calc(var(--page-padding-x) * -1);
  overflow: hidden;
  position: relative;

  .image {
    height: inherit;
    position: relative;
    transform: translate3d(0, calc(var(--scroll-y) * 0.15px), 0);

    &:after {
      background-image: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0, 0, 0.5)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }

  .text {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--page-padding-x) 3rem;
    position: absolute;
    width: 100%;

    > * {
      color: hsl(72, 10%, 90%);
      line-height: 1.2;
      margin: 0;
      font-size: 2rem;
    }

    p {
      max-width: 32ch;
    }
  }
}