.cards {
  max-width: 800px;

  @include respond-to("desktop") {
    columns: 2;
    column-gap: 6rem;
  }

  h1 {
    line-height: 1;
    margin-top: 0;
  }
}

.card {
  display: block;
  height: 400px;
  margin: 0 0 4rem;

  figure {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:after {
      background-image: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0, 0%, 0.5)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    transition: transform calc(var(--transition-speed) * 8)
      var(--transition-timing-function);
    width: 100%;
  }

  figcaption {
    bottom: 0;
    color: hsl(0, 0, 100%);
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    text-transform: capitalize;
    z-index: 2;
  }

  &:first-child {
    margin-top: 6rem;
  }
}
