main {
  // margin: 0 auto;
  // max-width: 1200px;

  &.index {
    margin-top: calc(var(--header-height) * -1);
  }
}

section {
  padding-left: $page-padding-x-mobile;
  padding-right: $page-padding-x-mobile;

  + section {
    padding-top: 3rem;
  }

  h1 {
    @include font-bold;
    border-bottom: 0.25px solid black;
    font-size: $font-size-s1;
    letter-spacing: $letter-spacing;
    margin-bottom: 1rem;
    padding-bottom: 0.5em;
    position: relative;
    text-transform: uppercase;

    &:after {
      // @include fancy-border;
      left: -#{$page-padding-x-mobile};
      right: -#{$page-padding-x-mobile};
      position: absolute;
      top: 100%;
    }
  }
}
