main {
  // margin: 0 auto;
  // max-width: 1200px;

  h1 {
    font-size: 3rem;
  }
}

.is-fullscreen {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project {
  figure {
    height: 100vh;
    padding: 3rem 0;

    img {
      max-width: 100%
    }
  }
}