main {
  // margin: 0 auto;
  // max-width: 1200px;
}

section {
  padding-left: var(--page-padding-x-mobile);
  padding-right: var(--page-padding-x-mobile);

  + section {
    padding-top: 3rem;
  }
}