nav {
  background: $mobile-menu-bg-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  opacity: 0;
  padding: calc(var(--header-height) + 3rem) $page-padding-x-mobile 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: opacity $transition-speed $transition-timing-function;
  top: 0;
  z-index: 2;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  @include respond-to("desktop") {
    bottom: 0;
    flex-direction: column;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid hsla(0, 0, 0, 0.25);
    display: flex;
    letter-spacing: $letter-spacing;
    font-size: 1.5rem;
    text-transform: uppercase;

    &:first-of-type {
      // display: none;

      @include respond-to("desktop") {
        display: flex;
      }
    }

    &:last-of-type {
      border-bottom-color: transparent;
    }

    a {
      color: black;
      // letter-spacing: var(--letter-spacing);
      line-height: 1;
      padding: 0.35em 0;
      text-decoration: none;
      // text-transform: uppercase;

      &.active {
        // color: hsl(0, 0%, 50%);
      }
    }
  }

  footer {
    // display: none;

    @include respond-to("desktop") {
      display: block;
    }

    margin-top: auto;

    p {
      margin: 0;
    }

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

body.mobile-menu-open {
  overflow: hidden;
}
