:root {
  --nav-link-color: hsl(0, 0%, 50%);
  --nav-link-color-active: hsl(0, 0%, 10%);
  --nav-link-padding-x: 0.75rem;
  --nav-link-padding-y: 1rem;
}

nav {
  display: flex;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
  }

  a {
    // @include font-bold;
    color: var(--nav-link-color);
    font-size: 1rem;
    letter-spacing: var(--letter-spacing);
    line-height: 1;
    padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.125s;
    position: relative;

    &:hover {
      color: var(--nav-link-color-active);
    }

    &:after {
      background-color: var(--nav-link-color-active);
      bottom: 0;
      // content: "";
      height: 4px;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
    }

    &.active {
      color: var(--nav-link-color-active);

      &:after {
        opacity: 1;
      }
    }
  }
}
