:root {
  --nav-link-color: hsl(154, 23%, 34%);
}

nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
  }

  a {
    color: var(--nav-link-color);
    font-size: 1rem;
    line-height: 1;
    padding: 0.25rem;
    text-decoration: none;
    text-transform: capitalize;
    transition: color 0.125s;
    position: relative;

    &:hover {
      // color: hsl(154, 23%, 50%);
    }

    &.active {
      // @include font-bold;
      border-bottom: 2px solid;

      // &:before {
      //   background-color: currentColor;
      //   border-radius: 0.25rem;
      //   bottom: 0;
      //   content: "";
      //   height: 0.25rem;
      //   left: -0.5rem;
      //   margin: auto 0;
      //   position: absolute;
      //   top: 0;
      //   width: 0.25rem;
      // }
    }
  }
}
