.rb-carousel {
  display: flex;
  height: 100%;

  > * {
    background-color: var(--project-bg-color, black);
    min-width: 100%;
  }

  figure {
    img {
      cursor: pointer;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}
