$gutter-size-sm: 2rem;
$gutter-size: 3rem;
$card-height-mobile: 275px;
$card-hover-scale: 1.05;

.gallery-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.gallery {
  position: relative;
}

.gallery-filters {
  display: flex;
  flex: 1;
  margin: 1rem 0;
  overflow: scroll;

  li {
    display: flex;
    flex: 1;

    + li {
      margin-left: 0.5rem;
    }

    button {
      background-color: hsla(0, 0, 0%, 0.1);
      flex: 1;
      font-size: $font-size-s2;
      padding: 0.25em 0.75em;
      text-transform: uppercase;
    }
  }
}

.gallery-layout-options {
  display: none;

  @include respond-to(desktop) {
    align-items: center;
    // border-bottom: 1px solid hsla(0, 0, 0, 0.5);
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  button {
    @include gallery-button;
  }
}

.gallery-grid {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 6rem 3rem;

  &.active {
    display: grid;
  }
}

.gallery-grid-item {
  a {
    display: block;
    text-decoration: none;

    &:hover {
      figure {
        transform: scale($card-hover-scale);
      }

      img {
        transform: scale(1 / $card-hover-scale);
      }

      h4 {
        color: #1473ff;
      }
    }
  }

  figure {
    align-items: center;
    display: flex;
    height: $card-height-mobile;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s;
    width: 100%;
  }

  img {
    display: block;
    position: absolute;
    transition: transform 0.5s;
  }

  h4 {
    color: $body-text-color;
    font-size: $font-size-2;
    line-height: 2.5;
    transition: 0.5s ease;
  }
}

.gallery-list {
  display: none;
  flex-direction: column;

  &.active {
    display: flex;
  }
}

.gallery-list-item {
  margin-bottom: 6rem;
  overflow: hidden;

  a {
    color: inherit;
    display: block;
    text-decoration: none;

    &:hover {
      h3 {
        color: #1473ff;
      }
    }
  }

  h3 {
    margin-bottom: 0;
    font-size: $font-size-2;
  }

  .images {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    figure {
      height: 200px;
      padding: 0.25em 0;
      width: auto;

      + figure {
        margin-left: 0.25rem;
      }

      img {
        display: inline-block;
        height: 100%;
        width: auto;
      }
    }
  }
}
