$gutter-size-sm: 2rem;
$gutter-size: 3rem;
$card-height-mobile: 350px;
$card-hover-scale: 1.05;

.gallery-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.gallery {
  position: relative;
}

.gallery-filters {
  display: flex;
  flex: 1;
  margin: 1rem 0;
  overflow: scroll;

  li {
    display: flex;
    flex: 1;

    + li {
      margin-left: 0.5rem;
    }

    button {
      background-color: hsla(0, 0, 0%, 0.1);
      flex: 1;
      font-size: $font-size-s2;
      padding: 0.25em 0.75em;
      text-transform: uppercase;
    }
  }
}

.gallery-header {
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 86%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  h1 {
    line-height: 1;
    margin: 0;
  }
}

.gallery-layout-options {
  display: none;

  @include respond-to(desktop) {
    align-items: center;
    display: flex;
  }

  button {
    @include gallery-button;
  }
}

.gallery-grid {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 4rem;

  &.active {
    display: grid;
  }
}

.gallery-grid-item {
  a {
    display: block;
    text-decoration: none;

    &:hover {
      img {
        transform: scale($card-hover-scale);
      }

      h4 {
        &:after {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  figure {
    align-items: center;
    display: flex;
    height: $card-height-mobile;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
    width: 100%;
  }

  h4 {
    color: $body-text-color;
    font-size: $font-size-1;
    letter-spacing: 0.1em;
    line-height: 2.5;
    text-transform: uppercase;

    &:after {
      content: "→";
      display: inline-block;
      margin-left: 4px;
      opacity: 0;
      transform: translateX(-4px);
      transition: all $transition-speed $transition-timing-function;
    }
  }
}

.gallery-list {
  display: none;
  grid-template-columns: 1fr 1fr;

  &.active {
    display: grid;
  }
}

.gallery-list-preview-image {
  position: relative;

  > div {
    bottom: 0;
    left: 0;
    max-width: 300px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;

    &.is-active {
      opacity: 1;
    }
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.gallery-list-item {
  // margin-bottom: 6rem;
  // margin-bottom: 1rem;
  overflow: hidden;

  a {
    color: hsl(0, 0, 60%);
    display: block;
    text-decoration: none;
    font-size: $font-size-2;
    letter-spacing: 0.075em;
    line-height: 2;
    text-transform: uppercase;

    &:hover {
      color: hsl(0, 0, 10%);
    }
  }
}
