.rb-home-carousel {
  height: 100vh;
  overflow: hidden;
  padding: 0 !important;
  position: relative;

  figure {
    bottom: 0;
    height: 100vh;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transition: opacity 1.5s ease;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  div {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 2rem 3rem;
    position: absolute;
    right: 0;
    z-index: 1;

    h1,
    h3 {
      color: white;
      font-size: 2rem;
      letter-spacing: 0.05em;
      line-height: 1;
      margin: 0;
      text-transform: uppercase;
    }
  }
}
