@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@mixin font($style) {
  @if $style== "default" {
    font-size: 1rem;
  } @else if $style== "s" {
    font-size: calc(var(--base-font-size-mobile) / var(--ratio) * 1px);

    @include respond-to(mobile-l) {
      font-size: calc(var(--base-font-size) / var(--ratio) * 1px);
    }
  } @else if $style== "m" {
    font-size: calc(var(--ratio) * 1rem);
    letter-spacing: 0.0125em;
  } @else if $style== "l" {
    font-size: calc(var(--ratio) * var(--ratio) * 1rem);
  }
}

@mixin font-bold {
  font-family: NeuzeitGro-Bol, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin fancy-border {
  background-image: repeating-linear-gradient(
    hsla(0, 0, 0%, 0.2) 1px,
    hsla(0, 0, 0%, 0) 2px,
    hsla(0, 0, 0%, 0) 3px,
    hsla(0, 0, 0%, 0.2) 4px
  );
  content: "";
  height: 8px;
}

@mixin gallery-button {
  border: 1px solid hsla(0, 0, 20%, 1);
  color: black;
  font-size: 1rem;
  letter-spacing: 0.1em;
  min-width: 50px;
  opacity: 0.6;
  padding: 0.3em 1rem 0.2em;
  position: relative;
  text-transform: uppercase;
  transition: filter $transition-speed $transition-timing-function;

  &.active {
    background-color: hsl(0, 0, 94%);
    color: black;
    font-family: Akkurat-Bold;
    opacity: 1;
  }

  &:first-of-type {
    margin-right: -1px;
  }
}
