$black: hsl(0, 0, 0%);
$white: hsl(0, 0, 100%);
$grey: hsl(0, 0, 50%);

$blue: #8cbecf;

$breakpoints: (
  "mobile-l": 480px,
  "tablet": 769px,
  "desktop": 960px,
  "widescreen": 1152px,
  "full-hd": 1344px,
);

$line-height: 1.414;
$base-font-size-mobile: 18;
$base-font-size: 21;

:root {
  --base-font-size-mobile: #{$base-font-size-mobile};
  --base-font-size: #{$base-font-size};
  --line-height: #{$line-height};
  --ratio: 1.414;
  --max-page-width: 1270px;
  --body-bg-colour: hsl(0, 0, 0);
  --letter-spacing: 0.0333em;
  --brand-color: hsl(215, 38%, 47%);
  --hero-height: 100vh;
  --page-padding-x: 3rem;
}
