$black: hsl(0, 0, 0%);
$white: hsl(0, 0, 100%);
$grey: hsl(0, 0, 50%);

$body-text-color: hsl(40, 3%, 19%);
$body-bg-color: hsl(0, 0%, 100%);
$mobile-menu-bg-color: hsla(152, 13%, 47%, 1);

$transition-speed: 0.15s;
$transition-timing-function: ease-out;

$letter-spacing: 0.05em;

$blue: #8cbecf; // ????

$breakpoints: (
  "mobile-l": 480px,
  "tablet": 769px,
  "desktop": 960px,
  "widescreen": 1152px,
  "full-hd": 1344px,
);

$ratio: 1.6;
$line-height: 1.6;
$base-font-size-mobile: 20;
$base-font-size: 16;

$page-padding-x-mobile: 1rem;

$header-desktop-width: 250px;

// Menu
$menu-switch-breakpoint: desktop;
$aside-width: 320px;
$aside-padding-horizontal: 1.5rem;
$menu-toggle-line-width: 12px;

// $menu-bg-color: hsl(0, 0, 15%);
$menu-bg-color: hsl(217.9, 49.6%, 34.9%);
$menu-color: white;
$active-menu-item-hover-color: hsl(217.9, 49.6%, 30.9%);
$active-menu-item-bg-color: hsl(217.9, 49.6%, 24.9%);

$menu-bg-color: hsl(0, 0%, 20%);
$menu-color: hsl(0, 0%, 80%);
$active-menu-item-hover-color: hsl(0, 0%, 10%);
$active-menu-item-bg-color: hsl(0, 0%, 10%);

:root {
  --base-font-size-mobile: #{$base-font-size-mobile};
  --base-font-size: #{$base-font-size};
  --body-background-colour: hsl(0, 0%, 95%, 1);
  --line-height: #{$ratio};
  --ratio: #{$ratio};
  --max-page-width: 1270px;
  --body-bg-colour: hsl(0, 0, 0);
  --letter-spacing: 0.0333em;
  --brand-color: hsl(215, 38%, 47%);
  --hero-height: calc(100vh - 6rem);
  --page-padding-x: 3rem;
  --page-padding-x-mobile: 1.5rem;
  --transition-speed: 0.25s;
  --transition-timing-function: ease-out;
  --scroll-y: 0;
  --mobile-menu-bg-color: hsl(152, 13%, 47%);
}
