body {
  background-color: $body-bg-color;
}

main {
  display: flex;
  flex-direction: column;

  @include respond-to("desktop") {
    // padding-right: 3rem;

    &:not(.index) {
      padding-top: 6rem;
    }
  }
}
