.project {
  background-color: var(--project-bg-color, black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;

  > a {
    color: white;
    font-size: $font-size-s2;
    letter-spacing: $letter-spacing;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  // injected carousel wrapper
  > div {
    border-bottom: 1px solid hsla(0, 0, 100%, 0.15);
    border-top: 1px solid hsla(0, 0, 100%, 0.15);
    height: 100%;
  }

  footer {
    background: var(--project-bg-color, black);
    padding: $page-padding-x-mobile;

    > * {
      color: white;
      margin: 0;
    }

    h3 {
      font-size: $font-size-s1;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
    }

    p {
      font-size: $font-size-s2;
    }
  }
}
