$ui-transition: transform 0.2s ease, opacity 0.2s ease;

main.project {
  padding-top: 0;
}

.project section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;

  header {
    display: block !important;

    &:before {
      background-image: linear-gradient(
        to top,
        transparent,
        var(--project-bg-color)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    > a {
      color: white;
      display: flex;
      font-size: $font-size-s2;
      letter-spacing: $letter-spacing;
      padding: 0.5rem 1rem;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      .icon {
        align-items: center;
        display: flex;
        margin-right: 8px;
        position: relative;
        width: 18px;

        svg {
          display: block;
          width: 100%;

          line {
            stroke: white;
          }

          polygon {
            fill: white;
          }
        }
      }
    }
  }

  // injected carousel wrapper
  > div {
    border-bottom: 1px solid hsla(0, 0, 100%, 0.15);
    border-top: 1px solid hsla(0, 0, 100%, 0.15);
    height: 100%;
  }

  footer {
    // background: var(--project-bg-color, black);
    left: 0;
    padding: $page-padding-x-mobile;
    position: fixed;
    right: 0;
    opacity: 0;
    top: 100%;
    transform: translate3d(0, calc(-100% + 10px), 0);
    transition: $ui-transition;
    z-index: 1;

    &.is-active {
      opacity: 1;
      transform: translate3d(0, -100%, 0);
    }

    &:before {
      background-image: linear-gradient(
        to bottom,
        transparent,
        var(--project-bg-color)
      );
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    > * {
      color: white;
      margin: 0;
      position: relative;
    }

    h3 {
      font-size: $font-size-s1;
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
    }

    p {
      font-size: $font-size-s2;
    }
  }
}
