// @import url("//hello.myfonts.net/count/3b69c9");

@font-face {
  font-family: "NeuzeitGro-Reg";
  src: url("./../fonts/NeuzeitGro-Reg/font.woff2") format("woff2"),
    url("./../fonts/NeuzeitGro-Reg/font.woff") format("woff");
}

@font-face {
  font-family: "NeuzeitGro-Bol";
  src: url("./../fonts/NeuzeitGro-Bol/font.woff2") format("woff2"),
    url("./../fonts/NeuzeitGro-Bol/font.woff") format("woff");
}

@font-face {
  font-family: "Akkurat-Light";
  src: url("./../fonts/Akkurat/Akkurat-Light.woff") format("woff");
}

@font-face {
  font-family: "Akkurat-Reg";
  src: url("./../fonts/Akkurat/Akkurat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url("./../fonts/Akkurat/Akkurat-Bold.woff") format("woff");
}

$font-size-s2: 0.64rem;
$font-size-s1: 0.8rem;
$font-size-1: 1rem;
$font-size-2: 1.25rem;
$font-size-3: 1.563rem;
$font-size-4: 1.953rem;
$font-size-5: 2.441rem;

html {
  font-size: calc(var(--base-font-size-mobile) / 16 * 100%);

  @include respond-to(mobile-l) {
    font-size: calc(var(--base-font-size) / 16 * 100%);
  }
}

body {
  // font-family: NeuzeitGro-Reg, "Helvetica Neue", Helvetica, Arial, sans-serif;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Akkurat-Reg, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: inherit;
  margin: 0;
}

b,
strong {
  // @include font-bold;
  font-weight: 500;
}
